<form {{action "login" on="submit"}}>

    <p>Username: {{input type="text" value=username}}</p>

    <p>Password: {{input type="password" value=password}}</p>

    <p><button type="submit">Login</button></p>
</form>


{{yield}}
