<h2>{{title}}</h2>

<ul>
  {{#each model as |webhook|}}
      <li>
        {{#link-to "webhook" webhook.id}}
          {{webhook.event}} {{webhook.requestType}} {{webhook.url}}
        {{/link-to}}
      </li>
  {{/each}}
</ul>
